.intro {
  margin: 10px;
  font-size: 2rem;
  span {
  }
  span + span {
    margin-left: 2rem;
  }
  .title {
    font-size: 2rem;
  }
}
.btnFilter {
  padding: 10px 20px;
  height: auto;
  margin-bottom: 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 8rem;
}
.listBooks {
  overflow: hidden;
  margin-top: 25px;
  .bookItem {
    margin-top: 15px;
    margin-right: 25px;
    img {
      width: 100%;
    }
    span {
      display: block;
      font-weight: bold;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  .notFound {
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding-top: 2em;
  }
  .favorites {
    position: absolute;
    top: 5px;
    left: 20px;
    color: rosybrown;

  }
  .favorites:hover {
    color: #7cb305;

  }
  // width: 100%;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.logoutButton {
  position:absolute;
  left: 92%;
  top: 2%;
}

.username {
  color: white;
  position:absolute;
  right: 15%;
}