.container {
    background: url("./../../../public/background.png");
    background-size: cover;
    padding-top: 3%;
    padding-left: 5%;
    .bookName {
      font-weight: bold;
      margin-bottom: 0.25em;
    }
    .ratingNumber {
      margin-left: 5px;
      font-size: 2em;
      font-weight: bold;
    }
    .details {
      margin-top: 20px;
      background-color: aqua;
    }
    .commentTitle {
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 0.25em;
    }
    .inputComment {
      margin: 0 2em;
      width: 98%;
    }
    .commentSubmit {
      margin: 2em;
    }
    .listComment {
      margin-left: 2em;

      .listCommentItem {
        background-color: blueviolet;
      }
    }
    .relatedBooksTitle {
      font-weight: bold;
      text-align: center;
    }
    .relatedBook {
      width: 200px;
      margin: auto;
      .relatedBookImage {
        display: flex !important;
        margin: auto !important;
      }
    }
    .CompareBook {
      width: 300px;
      margin: auto;
      .CompareBookImage {
        display: flex !important;
        margin: auto !important;
      }
      .ComparebookTitle {
        font-weight: bold;
        margin-top: 1em;
      }
    }
    .CompareTable {
      margin-top: 3em;
      margin-right: 5em;
    }
    .CompareCommentTitle {
      font-weight: bold;
      text-align: center;
      color: white;
    }
    .CompareListComment {
      margin-left: 0em;
      width: 90%;
      .CompareListCommentItem {
        background-color: blueviolet;
      }
    }
  }
  