.carousel {
  width: 100%;
  overflow: hidden;
  .carouselCell {
    height: 20vh;
    max-height: 300px;
    background-size: cover;
    object-fit: cover;
    width: 90%;
  }
}
@media screen and (min-width: 769px) {
  .carousel {
    .carouselCell {
      width: 50%;
      height: 20vw;
    }
  }
}
